{% extends 'base.html' %}
{% load static from staticfiles %}
{% load humanize %}
{% load color_article %}

{% block content %}
    This page will show you all blogs on the website!
    <form action="{% url 'all_articles' %}" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="input-field col s6">
                <input name="keyword" id="keyword" type="text" class="validate">
                <label class="active" for="keyword">Search keyword</label>
                <button class="waves-effect waves-light btn">Search!</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col s23">
            {% for article in articles %}
                <div class="card">
                    <div class="card-image">
                        <img src="{% if article.image %}{{ article.image.url }}{% else %}{% static 'images/gorlum.jpg'%}{% endif %}">
                        <span class="card-title">{{ article.author }}:{{ article.title }}</span>
                    </div>
                    <div class="card-content">
                        <p>{{ article.body | safe }} | {{ article.added | naturaltime }}</p>
                    </div>
                    <div class="card-action">
                        <a href="{% url 'single_article_page' article_id=article.id %}">show more...</a>
                    </div>
                </div>
            <p style="color: {{ article.title | color }};">{{ article.title}}</p>
            {% endfor %}
            Page {{ articles.number }} of {{ articles.paginator.num_pages }}.

            <ul class="pagination">
                {% if articles.has_previous %}
                    <li class="waves-effect"><a href="?page={{ articles.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
                {% endif %}
                {% for page in pagination %}
                    <li class="waves-effect {% if page == articles.number %}active{% endif %}">
                        {% if page == '...' %}{{ page }}
                        {% else %}
                            <a href="?page={{ page }}">{{ page }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
{#                <li class="waves-effect"><a href="#!">2</a></li>#}
{#                <li class="waves-effect"><a href="#!">3</a></li>#}
{#                <li class="waves-effect"><a href="#!">4</a></li>#}
{#                <li class="waves-effect"><a href="#!">5</a></li>#}
                {% if articles.has_next %}
                    <li class="waves-effect"><a href="?page={{ articles.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
                {% endif %}
  </ul>
        </div>
    </div>
{% endblock content %}