{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Semyonich Project</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <script
            src="http://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>

    {#    <link rel="stylesheet" href="{% static 'css/style.css' %}">#}
</head>
<body>
<nav>
   <div class="nav-wrapper">
     <a href="#" class="brand-logo">EDU</a>
     <ul id="nav-mobile" class="right hide-on-med-and-down">
       <li><a href="{% url 'all_articles' %}">Articles</a></li>
       {% if request.user.is_authenticated %}
           <li>Hello, {{ request.user.email }} !</li>
           <li><a href="{% url 'sign_out' %}">Sign Out</a></li>
       {% else %}
           <li><a href="{% url 'sign_in' %}">Sign In</a></li>
       {% endif %}
      </ul>
   </div>
</nav>
{% block content %}
{% endblock content %}

</body>
</html>